@import url(http://fonts.googleapis.com/css?family=Tangerine);

.header {
  margin: 30px;
}

.header > div {
  display: inline-block;
}

.header img {
  width: 100%;
}

.title-image {
  opacity: .7;
  margin-top: 20px;
}

.header-left {
  max-width: 60%;
  width: 600px;
}

.header-right {
  max-width: 35%;
  width: 400px;
  float: right;
}

.playlist {
  margin: 130px auto;
  max-width: 800px;

}

@accent-color: #555;
@accent-color-light: #ccc;
@footer-height: 100px;


.download-link, .download-link:active, download-link:visited {
  color: @active-color;
  cursor: pointer;
}

.download-link:hover {
 color: @hover-color; 
}


.song {

  
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid @accent-color-light;
  .info {
    cursor:pointer;
    .icon {
      font-size: 18px;
      margin: 0 7px;
      color: @accent-color;
    }
    .song-title {
      color: @accent-color;
      font-family: 'Tangerine';
      font-size: 45px;
      vertical-align: middle;
    }
  }
  .p-bar {
    cursor:pointer;
    .transition(all .7s linear); 
    width: 99%;
    height: 0px;
    background-color: #ddd;
    margin: 0px auto 0px;
    .inner-p-bar {
      width: 0%;
      .transition(all .1s linear);
      background-color: @accent-color;
      height: 100%
    }
  }
  .p-bar.playing {
    height: 12px;
    margin: 8px auto 14px;
  }
}

@hover-color:#777;
@active-color:#333;
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  border-top: 1px solid @accent-color-light;
  .global-info {
    //text-align: center;
    .transition(all .5s ease);
    height: 0px;
    overflow: hidden;
    &.playing {
      height: 75px;
    }
    .controls-title {
      color: @accent-color;
      font-family: 'Tangerine';
      font-size: 39px;
      display: inline-block;
    }
    .play-controls {
      font-size: 30px;
      display: inline-block;
      margin: 30px;
      span {
        margin: 0 10px;
        cursor: pointer;
        &:hover {
          color: @hover-color;
        }
        &:active {
          color: @active-color;
        }
      }
    }
  }
  .filters {
    max-width: 1100px;
    width: 100%;
    margin: 20px;
    .filter {
      font-weight: 500;
      font-family: 'Tangerine';
      display: inline-block;
      margin: 0 10px;
      .filter-title {
        display: inline-block;
        font-size: 40px;
      }
      .filter-values {
        display: inline-block;
        .filter-value {
          display: inline-block;
          font-size: 23px;
          margin: 0 7px;
          cursor: pointer;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: @hover-color;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
          &:hover:before {
            background-color: @hover-color;
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
          &.active:before {
            background-color: #000;
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }

    }
  }
}


.transition (@transition) {
  -webkit-transition: @transition;  
  -moz-transition:    @transition;
  -ms-transition:     @transition; 
  -o-transition:      @transition;  
}